<% provide(:title, 'Optimizer (Beta)') %>
<% alignment_array = ["BRU","SPD","TAC"] %>
<% usage_array = [["None",0],["Low",1],["Relatively Low",2],["Average",3],["Relatively High",4],["High",5]] %>
<% adj_array = [["None",0],['Partially',1],['Notably',2],['Remarkably',3],['Significantly',4],['Extremely',5]] %>
<% effect_array = [["None",0],["Increase",1],["Decrease",2]] %>
<% who_array = ["None","Bruisers","Speeds","Tactics","Self","All"] %>
<% what_array = [["None",0],["ATK",1],["DEF",2],["ATK/DEF",3]] %>
<% opt_array = [["Attack",0]] %>
<% alliance_array = [["None",0],["Alliance Leader",1],["Vice-Leader",2],["Offense Leader",3],["Defense Leader",4]] %>

<%= render 'layouts/optdesc' %>
<br>

<table>
<%= form_tag("/optimize", :method => "get") do %>
<tr>
  <td><%= label_tag(:n, "Name") %>
  <%= text_field_tag(:n , "Card1", style: 'width:200px', maxlength: 30) %></td>
  <td><%= label_tag(:n, "Alignment") %>
  <%= select_tag(:an , options_for_select(alignment_array), style: 'width:70px') %></td>
  <td><%= label_tag(:p, "PWR") %>
  <%= text_field_tag(:p, nil, style: 'width:30px', maxlength: 2) %></td>
  <td><%= label_tag(:ak, "ATK") %>
  <%= text_field_tag(:ak, "1000", style: 'width:50px', maxlength: 5) %></td>
  <td><%= label_tag(:d, "DEF") %>
  <%= text_field_tag(:d, nil, style: 'width:50px', maxlength: 5) %></td>
  <td><%= label_tag(:a_a, "Ability Adjective") %>
  <%= select_tag(:a_a , options_for_select(adj_array),style: 'width:115px') %></td>
  <td><%= label_tag(:a_e, "Ability Effect") %>
  <%= select_tag(:a_e , options_for_select(effect_array),style: 'width:100px') %></td>
  <td><%= label_tag(:a_wt, "Ability What") %>
  <%= select_tag(:a_wt , options_for_select(what_array),style: 'width:100px') %></td>
  <td><%= label_tag(:a_wo, "Ability Who") %>
  <%= select_tag(:a_wo , options_for_select(who_array),style: 'width:90px') %></td>
  <td><%= label_tag(:u, "Ability Usage") %>
  <%= select_tag(:u , options_for_select(usage_array,"3"),style: 'width:135px') %></td>
</tr>
<tr>
  <td>
  <%= text_field_tag(:n2 , "Card2", style: 'width:200px', maxlength: 30) %></td>
  <td>
  <%= select_tag(:an2 , options_for_select(alignment_array), style: 'width:70px') %></td>
  <td>
  <%= text_field_tag(:p2, nil, style: 'width:30px', maxlength: 2) %></td>
  <td>
  <%= text_field_tag(:ak2, "1500", style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= text_field_tag(:d2, nil, style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= select_tag(:a_a2 , options_for_select(adj_array),style: 'width:115px') %></td>
  <td>
  <%= select_tag(:a_e2 , options_for_select(effect_array),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wt2 , options_for_select(what_array),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wo2 , options_for_select(who_array),style: 'width:90px') %></td>
  <td>
  <%= select_tag(:u2 , options_for_select(usage_array,"3"),style: 'width:135px') %></td>
</tr>
<tr>
  <td>
  <%= text_field_tag(:n3 , "Card3", style: 'width:200px', maxlength: 30) %></td>
  <td>
  <%= select_tag(:an3 , options_for_select(alignment_array),style: 'width:70px') %></td>
  <td>
  <%= text_field_tag(:p3, nil, style: 'width:30px', maxlength: 2) %></td>
  <td>
  <%= text_field_tag(:ak3, "1234", style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= text_field_tag(:d3, nil, style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= select_tag(:a_a3 , options_for_select(adj_array),style: 'width:115px') %></td>
  <td>
  <%= select_tag(:a_e3 , options_for_select(effect_array),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wt3 , options_for_select(what_array),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wo3 , options_for_select(who_array),style: 'width:90px') %></td>
  <td>
  <%= select_tag(:u3 , options_for_select(usage_array,"3"),style: 'width:135px') %></td>
</tr>
<tr>
  <td>
  <%= text_field_tag(:n4 , "Card4", style: 'width:200px', maxlength: 30) %></td>
  <td>
  <%= select_tag(:an4 , options_for_select(alignment_array),style: 'width:70px') %></td>
  <td>
  <%= text_field_tag(:p4, nil, style: 'width:30px', maxlength: 2) %></td>
  <td>
  <%= text_field_tag(:ak4, "5555", style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= text_field_tag(:d4, nil, style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= select_tag(:a_a4 , options_for_select(adj_array),style: 'width:115px') %></td>
  <td>
  <%= select_tag(:a_e4 , options_for_select(effect_array),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wt4 , options_for_select(what_array),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wo4 , options_for_select(who_array),style: 'width:90px') %></td>
  <td>
  <%= select_tag(:u4 , options_for_select(usage_array,"3"),style: 'width:135px') %></td>
</tr>
<tr>
  <td>
  <%= text_field_tag(:n5 , "Card5", style: 'width:200px', maxlength: 30) %></td>
  <td>
  <%= select_tag(:an5 , options_for_select(alignment_array), style: 'width:70px') %></td>
  <td>
  <%= text_field_tag(:p5, nil, style: 'width:30px', maxlength: 2) %></td>
  <td>
  <%= text_field_tag(:ak5, "2100", style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= text_field_tag(:d5, nil, style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= select_tag(:a_a5 , options_for_select(adj_array),style: 'width:115px') %></td>
  <td>
  <%= select_tag(:a_e5 , options_for_select(effect_array),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wt5 , options_for_select(what_array),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wo5 , options_for_select(who_array),style: 'width:90px') %></td>
  <td>
  <%= select_tag(:u5 , options_for_select(usage_array,"3"),style: 'width:135px') %></td>
</tr>
<tr>
  <td>
  <%= text_field_tag(:n6, nil, style: 'width:200px', maxlength: 30) %></td>
  <td>
  <%= select_tag(:an6, options_for_select(alignment_array), style: 'width:70px') %></td>
  <td>
  <%= text_field_tag(:p6, nil, style: 'width:30px', maxlength: 2) %></td>
  <td>
  <%= text_field_tag(:ak6, nil, style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= text_field_tag(:d6, nil, style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= select_tag(:a_a6, options_for_select(adj_array),style: 'width:115px') %></td>
  <td>
  <%= select_tag(:a_e6, options_for_select(effect_array),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wt6, options_for_select(what_array),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wo6, options_for_select(who_array),style: 'width:90px') %></td>
  <td>
  <%= select_tag(:u6, options_for_select(usage_array,"3"),style: 'width:135px') %></td>
</tr>
<tr>
  <td>
  <%= text_field_tag(:n7, nil, style: 'width:200px', maxlength: 30) %></td>
  <td>
  <%= select_tag(:an7, options_for_select(alignment_array), style: 'width:70px') %></td>
  <td>
  <%= text_field_tag(:p7, nil, style: 'width:30px', maxlength: 2) %></td>
  <td>
  <%= text_field_tag(:ak7, nil, style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= text_field_tag(:d7, nil, style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= select_tag(:a_a7, options_for_select(adj_array),style: 'width:115px') %></td>
  <td>
  <%= select_tag(:a_e7, options_for_select(effect_array),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wt7, options_for_select(what_array),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wo7, options_for_select(who_array),style: 'width:90px') %></td>
  <td>
  <%= select_tag(:u7, options_for_select(usage_array,"3"),style: 'width:135px') %></td>
</tr></table><br>
  <%= label_tag(:adp, "Adapter Bonus? (All 3)") %>
  <%= check_box_tag(:adp,"1",true) %><br><br>
  <%= label_tag(:al, "Alliance Position") %>
  <%= select_tag(:al, options_for_select(alliance_array)) %><br>
  <%= label_tag(:of, "Optimize for") %>
  <%= select_tag(:of, options_for_select(opt_array)) %><br><br>
  <%= submit_tag("Optimize") %>
<% end %>
