<% provide(:title, 'Results (Beta)') %>
<% alignment_array = ["BRU","SPD","TAC"] %>
<% usage_array = [["None",0],["Low",1],["Relatively Low",2],["Average",3],["Relatively High",4],["High",5]] %>
<% adj_array = [["None",0],['Partially',1],['Notably',2],['Remarkably',3],['Significantly',4],['Extremely',5]] %>
<% effect_array = [["None",0],["Increase",1],["Decrease",2]] %>
<% who_array = ["None","Bruisers","Speeds","Tactics","Self","All"] %>
<% what_array = [["None",0],["ATK",1],["DEF",2],["ATK/DEF",3]] %>
<% opt_array = [["Attack",0],["Defense",1]] %>
<% alliance_array = [["None",0],["Alliance Leader",1],["Vice-Leader",2],["Offense Leader",3],["Defense Leader",4]] %>
<% scrapper_array = [["None",0],["10%",1],["21%",2],["30%",3]] %>

<table>
	<tr>
		<td>
<h1>Results (Beta)</h1>
Based upon the <%= @num %> cards you entered, the following is the deck (in optimal order) that has the highest effective attack.
<br><br>
<b>Best deck position 1 (Middle):</b> <%= @best1['name'] %><br>
<b>Best deck position 2:</b> <%= @best2['name'] %><br>
<b>Best deck position 3:</b> <%= @best3['name'] %><br>
<b>Best deck position 4:</b> <%= @best4['name'] %><br>
<b>Best deck position 5:</b> <%= @best5['name'] %>
<br><br>
<b>Total Power of Best Deck:</b> <%= @pwr %><br><br>
<% if @of == "0" %>
  <b>Base Attack:</b> <%= @base %><br>
  <b>Adapter Bonus:</b> <%= @adp %><br>
  <b>Alliance Position Bonus:</b> <%= @al %><br>
  <b>Scrapper Bonus:</b> <%= @sc %><br>
  <b>Pre-Abilities Attack:</b> <%= @pre %><br>
  <b>Average Total Attack:</b> <%= @avg %><br><br>
  <b>Average Effective Attack:</b> <%= @eff %> (this converts universal degrades into an attack boost) <br>
<% else %>
  <b>Base Defense:</b> <%= @base %><br>
  <b>Adapter Bonus:</b> <%= @adp %><br>
  <b>Alliance Position Bonus:</b> <%= @al %><br>
  <b>Pre-Abilities Defense:</b> <%= @pre %><br>
  <b>Average Total Defense:</b> <%= @avg %><br><br>
  <b>Average Effective Defense:</b> <%= @eff %> (this converts universal degrades into a defense boost) <br>
<% end %>
<br>
<b>TIP! - Bookmark this page to save the cards you've entered for next time</b>

<br><br><br><br>
<%= render 'layouts/optdesc' %>
<br>
</td>
<td>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-6357722728549806";
/* MWoH Results Page right */
google_ad_slot = "4989385397";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</td>
</tr>
</table>

<table>
<%= form_tag("/optimize", :method => "get") do %>
<tr>
  <td><%= label_tag(:n, "Name") %>
  <%= text_field_tag(:n , params[:n], style: 'width:200px', maxlength: 30) %></td>
  <td><%= label_tag(:n, "Alignment") %>
  <%= select_tag(:an , options_for_select(alignment_array,params[:an]), style: 'width:70px') %></td>
  <td><%= label_tag(:p, "PWR") %>
  <%= text_field_tag(:p, params[:p], style: 'width:30px', maxlength: 2) %></td>
  <td><%= label_tag(:ak, "ATK") %>
  <%= text_field_tag(:ak, params[:ak], style: 'width:50px', maxlength: 5) %></td>
  <td><%= label_tag(:d, "DEF") %>
  <%= text_field_tag(:d, params[:d], style: 'width:50px', maxlength: 5) %></td>
  <td><%= label_tag(:a_a, "Ability Adjective") %>
  <%= select_tag(:a_a , options_for_select(adj_array,params[:a_a]),style: 'width:115px') %></td>
  <td><%= label_tag(:a_e, "Ability Effect") %>
  <%= select_tag(:a_e , options_for_select(effect_array,params[:a_e]),style: 'width:100px') %></td>
  <td><%= label_tag(:a_wt, "Ability What") %>
  <%= select_tag(:a_wt , options_for_select(what_array,params[:a_wt]),style: 'width:100px') %></td>
  <td><%= label_tag(:a_wo, "Ability Who") %>
  <%= select_tag(:a_wo , options_for_select(who_array,params[:a_wo]),style: 'width:90px') %></td>
  <td><%= label_tag(:u, "Ability Usage") %>
  <%= select_tag(:u , options_for_select(usage_array,params[:u]),style: 'width:135px') %></td>
</tr>
<tr>
  <td>
  <%= text_field_tag(:n2 , params[:n2], style: 'width:200px', maxlength: 30) %></td>
  <td>
  <%= select_tag(:an2 , options_for_select(alignment_array,params[:an2]), style: 'width:70px') %></td>
  <td>
  <%= text_field_tag(:p2, params[:p2], style: 'width:30px', maxlength: 2) %></td>
  <td>
  <%= text_field_tag(:ak2, params[:ak2], style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= text_field_tag(:d2, params[:d2], style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= select_tag(:a_a2 , options_for_select(adj_array,params[:a_a2]),style: 'width:115px') %></td>
  <td>
  <%= select_tag(:a_e2 , options_for_select(effect_array,params[:a_e2]),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wt2 , options_for_select(what_array,params[:a_wt2]),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wo2 , options_for_select(who_array,params[:a_wo2]),style: 'width:90px') %></td>
  <td>
  <%= select_tag(:u2 , options_for_select(usage_array,params[:u2]),style: 'width:135px') %></td>
</tr>
<tr>
  <td>
  <%= text_field_tag(:n3 , params[:n3], style: 'width:200px', maxlength: 30) %></td>
  <td>
  <%= select_tag(:an3 , options_for_select(alignment_array,params[:an3]),style: 'width:70px') %></td>
  <td>
  <%= text_field_tag(:p3, params[:p3], style: 'width:30px', maxlength: 2) %></td>
  <td>
  <%= text_field_tag(:ak3, params[:ak3], style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= text_field_tag(:d3, params[:d3], style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= select_tag(:a_a3 , options_for_select(adj_array,params[:a_a3]),style: 'width:115px') %></td>
  <td>
  <%= select_tag(:a_e3 , options_for_select(effect_array,params[:a_e3]),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wt3 , options_for_select(what_array,params[:a_wt3]),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wo3 , options_for_select(who_array,params[:a_wo3]),style: 'width:90px') %></td>
  <td>
  <%= select_tag(:u3 , options_for_select(usage_array,params[:u3]),style: 'width:135px') %></td>
</tr>
<tr>
  <td>
  <%= text_field_tag(:n4 , params[:n4], style: 'width:200px', maxlength: 30) %></td>
  <td>
  <%= select_tag(:an4 , options_for_select(alignment_array,params[:an4]),style: 'width:70px') %></td>
  <td>
  <%= text_field_tag(:p4, params[:p4], style: 'width:30px', maxlength: 2) %></td>
  <td>
  <%= text_field_tag(:ak4, params[:ak4], style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= text_field_tag(:d4, params[:d4], style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= select_tag(:a_a4 , options_for_select(adj_array,params[:a_a4]),style: 'width:115px') %></td>
  <td>
  <%= select_tag(:a_e4 , options_for_select(effect_array,params[:a_e4]),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wt4 , options_for_select(what_array,params[:a_wt4]),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wo4 , options_for_select(who_array,params[:a_wo4]),style: 'width:90px') %></td>
  <td>
  <%= select_tag(:u4 , options_for_select(usage_array,params[:u4]),style: 'width:135px') %></td>
</tr>
<tr>
  <td>
  <%= text_field_tag(:n5 , params[:n5], style: 'width:200px', maxlength: 30) %></td>
  <td>
  <%= select_tag(:an5 , options_for_select(alignment_array,params[:an5]), style: 'width:70px') %></td>
  <td>
  <%= text_field_tag(:p5, params[:p5], style: 'width:30px', maxlength: 2) %></td>
  <td>
  <%= text_field_tag(:ak5, params[:ak5], style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= text_field_tag(:d5, params[:d5], style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= select_tag(:a_a5 , options_for_select(adj_array,params[:a_a5]),style: 'width:115px') %></td>
  <td>
  <%= select_tag(:a_e5 , options_for_select(effect_array,params[:a_e5]),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wt5 , options_for_select(what_array,params[:a_wt5]),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wo5 , options_for_select(who_array,params[:a_wo5]),style: 'width:90px') %></td>
  <td>
  <%= select_tag(:u5 , options_for_select(usage_array,params[:u5]),style: 'width:135px') %></td>
</tr>
<tr>
  <td>
  <%= text_field_tag(:n6, params[:n6], style: 'width:200px', maxlength: 30) %></td>
  <td>
  <%= select_tag(:an6, options_for_select(alignment_array,params[:an6]), style: 'width:70px') %></td>
  <td>
  <%= text_field_tag(:p6, params[:p6], style: 'width:30px', maxlength: 2) %></td>
  <td>
  <%= text_field_tag(:ak6, params[:ak6], style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= text_field_tag(:d6, params[:d6], style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= select_tag(:a_a6, options_for_select(adj_array,params[:a_a6]),style: 'width:115px') %></td>
  <td>
  <%= select_tag(:a_e6, options_for_select(effect_array,params[:a_e6]),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wt6, options_for_select(what_array,params[:a_wt6]),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wo6, options_for_select(who_array,params[:a_wo6]),style: 'width:90px') %></td>
  <td>
  <%= select_tag(:u6, options_for_select(usage_array,params[:u6]),style: 'width:135px') %></td>
</tr>
<tr>
  <td>
  <%= text_field_tag(:n7, params[:n7], style: 'width:200px', maxlength: 30) %></td>
  <td>
  <%= select_tag(:an7, options_for_select(alignment_array,params[:an7]), style: 'width:70px') %></td>
  <td>
  <%= text_field_tag(:p7, params[:p7], style: 'width:30px', maxlength: 2) %></td>
  <td>
  <%= text_field_tag(:ak7, params[:ak7], style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= text_field_tag(:d7, params[:d7], style: 'width:50px', maxlength: 5) %></td>
  <td>
  <%= select_tag(:a_a7, options_for_select(adj_array,params[:a_a7]),style: 'width:115px') %></td>
  <td>
  <%= select_tag(:a_e7, options_for_select(effect_array,params[:a_e7]),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wt7, options_for_select(what_array,params[:a_wt7]),style: 'width:100px') %></td>
  <td>
  <%= select_tag(:a_wo7, options_for_select(who_array,params[:a_wo7]),style: 'width:90px') %></td>
  <td>
  <%= select_tag(:u7, options_for_select(usage_array,params[:u7]),style: 'width:135px') %></td>
</tr></table><br>
<table>
  <tr>
    <td style="width:250px"><%= label_tag(:adp, "Adapter Bonus? (All 3)") %></td>
    <td><%= check_box_tag(:adp,"1",params[:adp]) %></td>
  </tr>
  <tr>
    <td><%= label_tag(:al, "Alliance Position") %></td>
    <td><%= select_tag(:al, options_for_select(alliance_array,params[:al])) %></td>
  </tr>
  <tr>
    <td><%= label_tag(:sc, "Scrapper Bonus (Attack only)") %></td>
    <td><%= select_tag(:sc, options_for_select(scrapper_array,params[:sc])) %></td>
  </tr>
  <tr>
    <td><%= label_tag(:of, "Optimize for") %></td>
    <td><%= select_tag(:of, options_for_select(opt_array,params[:of])) %></td>
  </tr>
</table>
<br>
  <%= submit_tag("Optimize") %>
<% end %>


